.create-message {
  padding: 20px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.holiday-form {
  display: block;
  padding: 20px;
  width: 100%;
  max-width: 700px;
}

.delete-form {
  position: relative;
  margin-top: -20px;
}

.error-message {
  margin: 0;
  padding: 0;
  color: red;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

input[type="text"],
input[type="date"]
{
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  margin-top: 14px;
  padding: 12px 40px;
  background-color: #2CBBBB;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

input[type="submit"].submit-button:hover {
  background-color: #3FD8D8;
}

input[type="submit"].delete-button {
  background-color: #E44848;
  margin-left: 20px;
  padding: 12px 32px;
}

input[type="submit"].delete-button:hover {
  background-color: #E63535;
}

.back-link {
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  margin-top: 14px;
  margin-left: 10px;
  padding: 12px 40px;
  background-color: #D8D8D8;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.back-link:hover {
  background-color: #C3C3C3;
}
